<div class="header">
    <h1>Weather</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</div>
<img src="https://weatherstack.com/site_images/sun_loading.svg" alt="Sun" id="hero"/>