<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/9tWL68Z/sun.png" />
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,600&display=swap" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    {{> header}}
    <div class="help-page">
        <h3>Today Weather is a premium app that puts your current conditions and a short-term forecast front and center when you open it. A swipe to the right shows hour-by-hour forecasts, while a swipe left displays weather for the coming week. Today Weather also uses Dark Sky’s database (via an in-app purchase) for more accurate short-term forecasts, but it doesn’t have the automatic alerts found in Dark Sky’s own app. It’s like a light version of Dark Sky, but you should just go for the real thing.</h3>
    </div>
    {{> footer}}
</body>
</html>