<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/9tWL68Z/sun.png" />
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    {{> header }}

    <form action="" id="location-form">
        <input type="text" id="location" placeholder="Location" />
        <input type="submit" value="Submit" />
    </form>

    <ul class="location_data">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    {{> footer}}
    <script src="/temp.js"></script>
</body>
</html>